
*.exe
*.out
*_fort*.*
*.dat
*.log
*.o
*.err
*.png
*.lis
*.bnx
*.eps
*.pptx

*.*~
*.pickle
*.bnn
*.jpg

ran*

data/intermediate/


**/.vscode/
run/*
!run/*.flair
!run/*.inp
# fastsim/
src/fluka_*
src/obs/
dev/*.flair
dev/*.regions
dev/*.rotdefi
dev/*.bodies
dev/*.replicas
dev/zzobs
dev/__pycache__/