
*.exe
*.out
*_fort*.*
*.dat
*.log
*.o
*.err
*.png
*.lis
*.bnx
*.eps

*.*~
*.pickle
*.bnn
*.jpg
myfluka
ran*

**/.vscode/
run/
# fastsim/
src/fluka_*
src/obs/
dev/*.flair
dev/*.regions
dev/*.rotdefi
dev/*.bodies
dev/*.replicas
dev/zzobs
dev/__pycache__/